///////////////////////////
// Scales
//
// 0.702 / .79 / .889 / 1 / 1.125 / 1.266 / 1.424 / 1.602 / 1.802 / 2.027 / 2.281 / 2.566 / 2.887 / 3.247 / 3.653 / 4.11 / 4.624 / 5.202 / 5.852 / 6.583 / 7.406 / 8.332 / 9.373

.root {
    border-top: 1.2rem solid var(--main-color);
}

.navbar {
    display: flex;
    padding: 1.6rem 3.2rem;
    align-items: center;
    gap: 1.2rem;
    justify-content: space-between;

    &__company {
        display: flex;
        align-items:center;
        gap: 3.2rem;
        color: var(--main-color);
    }

    &__companyname {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: -.05rem;
        color: var(--gray-8);
    }

    &__logo {
        height: 3.2rem;
        width: 3.2rem;
        color: var(--main-color);
    }

    &__links{
        display: flex;
        gap: 2.4rem;
        list-style: none;
        align-items: center;
        & :link, & :visited {
            text-decoration: none;
            font-size: 1.8rem;
            color: var(--gray-8);
            font-weight: 500;
        }
        & > * {
            transition: all .3s;
        }
        & :last-child:hover {
            transform: translateY(-.3rem);
        }
    }
}

.sectionHero {
    margin: 0 auto;
    padding: 9.6rem 3.2rem;

    &__buttons {
        display: flex;
        align-items: center;
        gap: 2.4rem;
    }

    &__headerText {
        font-size: 2.027rem;
        line-height: 1.7;
        margin-bottom: 3.6rem;
    }

    &__header {
        font-size: 6.6rem;
        font-weight: 700;
        line-height: 1.01;
        margin-bottom: 4.8rem;
        margin-top: 9.6rem;
    }
}

.mainHeading {
    font-size: 2.281rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: var(--gray-6);
}

.buttonPrimary:link, .buttonPrimary:visited {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--gray-8);
    background-color: var(--main-color);
    padding: .8rem 1.6rem;
    border-radius: 1.1rem;
    font-weight: 600;
    transition: all .3s;
}

.buttonPrimary:hover {
    background-color: var(--main-color-dark);
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.flexed {
    display: flex;
    align-items: center;
    gap: 6.4rem;
    justify-content: space-between;
}

.headerBox {
    flex: 0 0 50%;
}

.heroImg {
    width: 100%;
    border-radius: 1.1rem;
}

.featuredSection {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3.2rem;
    background-image: linear-gradient(to right bottom, var(--gray-0), var(--gray-2));
    border-radius: 1.1rem;
}

.featuredLogos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featuredLogo {
    font-size: 1.6rem;
    opacity: 50%;
}
.logo {
    height: 100%;
    opacity: 50%;
    color: currentColor;
}

.grid2cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.8rem;
    // margin: 0 auto;
    padding: 9.6rem 3.2rem;;
}

.briefLeft {
    background-color: var(--main-color-dark);
    border-radius: 1.1rem;
    padding: 3.6rem;
    height: 60rem;
    display: flex;
    flex-direction: column;

    .mainHeading {
        color: var(--gray-7);
        font-weight: 500;
    }

    &__text {
        font-size: 2rem;
        line-height: 1.7;
        margin-top: 4.8rem;
        margin-bottom: 3.6rem;
    }

    &__pictures {
        display: flex;
        margin-top: auto;
    }

    &__picture {
        width: 7.4rem;
        height: 7.4rem;
        margin-right: -1.5rem;
        border: .35rem solid #fff;
        // overflow: hidden;
        border-radius: 50%;
        
    }
}

.briefRight {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color-darkest);
    color: var(--main-color-lightest);
    border-radius: 1.1rem;
    padding: 3.6rem;

    .mainHeading {
        color: #fff;
        font-weight: 500;
    }

    &__text {
        font-size: 2rem;
        line-height: 1.7;
        margin-top: 4.8rem;
        margin-bottom: 3.6rem;
    }
    & .learnMoreButton__arrow {
        background-color: var(--main-color-lighter);
    }
    & .learnMoreButton {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    &__claims {
        display: flex;
        gap: 2.4rem;
        margin-top: auto;
        font-size: 3.6rem;
        color: var(--main-color-lightest);
        font-weight: 500;
    }

    &__claimsText {
        display: block;
        font-size: 1.6rem;
        font-weight: 400;
        opacity: 75%;

    }

    
}

.learnMoreButton {
    display: flex;
    align-items: center;;
    font-size: 1.6rem;
    
    &:link, &:visited {
        text-decoration: none;
        color: var(--gray-8);
        font-weight: 600;
        text-transform: uppercase;
    }

    &__arrow {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

.sectionPersonalizations {

    .container {
        padding: 0 3.2rem;
    }

    &__header {
        text-align: center;

    }

    &__headerText {
        margin-top: 4.8rem;
        margin-bottom: 9.6rem;
        font-size: 4.8rem;
        font-weight: 700;
        text-align: center;
        letter-spacing: .075rem;
    }

    &__containerForBoxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8rem;
        row-gap: 4.8rem;
        margin-bottom: 9.6rem;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        text-align: start;
        overflow: hidden;
        & > .mainHeading {
            margin-bottom: 3.6rem;
        }
    }

    &__image {
        width: 100%;
        border-radius: 1.1rem;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
            border-radius: 1.1rem;
        }
    }

    &__boxHeading {
        font-size: 3.6rem;
        font-weight: 500;
        margin-bottom: 2.4rem;
    }

    &__boxText {
        font-size: 1.8rem;
        line-height: 1.7;
        margin-bottom: 4.8rem;
    }
}

.sectionFeatures {
    background-color: var(--main-color-lightest);

    .container {
        padding: 0 3.2rem;
    }
    &__header {
        padding-top: 9.6rem;
    }

    &__headerText {
        margin-top: 4.8rem;
        margin-bottom: 9.6rem;
        font-size: 4.8rem;
        font-weight: 700;
        letter-spacing: .075rem;
    }
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 4.8rem;
    padding-bottom: 9.6rem;
}

.featureBox {
    background-color: white;
    border-radius: 1.1rem;
    padding: 3.2rem;
    box-shadow: 0 .8rem 3rem rgba(0, 0, 0, 0.075);

    &__header {
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-bottom: 2.4rem;
    }

    &__icon {
        width: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .2rem solid var(--main-color-darker);
        box-shadow: 0 .8rem 2rem rgba(6, 22, 17, 0.1);
        height: 3.2rem;
        opacity: 80%;
        padding: .5rem;
        background-color: var(--main-color-lighter);
        border-radius: 50%;
        margin-right: 1.8rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.7;
    }
}

.sectionFaq {
    padding: 9.6rem 0;

    .container {
        padding: 0 3.2rem;
    }

    &__header {
        margin-bottom: 7.2rem;
    }

    .mainHeading {
        margin-bottom: 4.8rem;
    }

    &__title {
        font-size: 4.8rem;
        margin-bottom: 3.2rem;
        font-weight: 700;
        letter-spacing: 0.075rem;
    }

    &__headerText {
        font-size: 2.4rem;
        line-height: 1.8;
    }
}

.FaqGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7.2rem;
}

.FaqColumn {
    border: .2rem solid var(--gray-6);
    border-radius: 1.1rem;
}

.Faq {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 1.6rem;
    border-bottom: .2rem solid var(--gray-6);
    
    &:last-child {
        border: none;
    }

    &:hover {
        cursor: pointer;
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
        

    }
}

.sectionStats {
    padding: 9.6rem 0;
    background-color: var(--main-color-darkest);
    
    .container {
        padding: 0 3.2rem;
        display: flex;
        // grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 6.0rem;
    }

    .mainHeading {
        margin-bottom: 9.6rem;
    }

    &__textColumn {
        color: var(--main-color-lightest);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__heading {
        font-size: 4.8rem;
        margin-bottom: 2.4rem;
        font-weight: 700;
        letter-spacing: 0.075rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.7;
        margin-bottom: 7.2rem;
    }

    &__stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // justify-items: last baseline;
        margin-top: auto;
        column-gap: 4.8rem;
        row-gap: 2.4rem;
    }

    &__stat {
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__number {
        font-size: 3.2rem;
        display: block;
        font-weight: 600;
    }

    &__image {
        width: 50%;
        border-radius: 1.1rem;

    }
}

.sectionTestimonials {
    padding: 9.6rem 0;

    .container {
        padding: 0 3.2rem;
    }
    &__header {

    }

    .mainHeading {
        margin-bottom: 2.4rem;
    }

    &__title {
        font-size: 4.8rem;
        margin-bottom: 2.4rem;
        font-weight: 700;
        letter-spacing: 0.075rem;
    }

    &__text {
        margin-bottom: 9.6rem;
        font-size: 2rem;
        width: 60%;
    }
}

.testimonials {
    display: flex;
    gap: 3.2rem;
}

.testimonialBox {
    padding: 3.2rem;
    border: .2rem solid var(--main-color-darker);
    border-radius: 1.1rem;
    background-color: var(--main-color-light);
    color: var(--best-contrast-on-main-light);
    box-shadow: 0 1.2rem 4rem rgba(28, 109, 85, 0.80);
    transition: all 0.4s;

    &:hover {
        transform: translateY(-1.8rem);
        box-shadow: 0 2.4rem 8rem rgba(28, 109, 85, 0.80);
    }

    &__stars {
        display: flex;
        margin-bottom: 3.2rem;
    }

    &__star {
        width: 1.8rem;
        height: 1.8rem;
    }

    &__testimonial {
        font-size: 1.8rem;
        line-height: 1.7;
        margin-bottom: 3.2rem;
    }
    
}

.author {
    display: flex;
    align-items: center;


    &__image {
        margin-right: 2.4rem;
        width: 6.0rem;
        height: 6.0rem;
        border-radius: 50%;
    }

    &__nameBox {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__name {
        font-size: 1.8rem;
        font-weight: 500;
    }

    &__job {
        font-size: 1.4rem;
    }
}

.sectionCta {
    padding: 0;
    margin-bottom: 9.6rem;

    .container {
        padding: 9.6rem 3.2rem;
        background-image: linear-gradient(to bottom right, var(--main-color-lightest), #32c398);
        display: flex;
        align-items: center;
        border-radius: 1.1rem;
        gap: 5.2rem;
        
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }

    &__title {
        font-size: 4.8rem;
        line-height: 1.05;
        letter-spacing: 0.075rem;
        font-weight: 700;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.7;
    }
    
    &__right {
        width: 30%;
        border-radius: 1.1rem;
    }
}
.buttonOutline:link, .buttonOutline:visited {
    text-decoration: none;
    font-size: 2rem;
    color: var(--gray-8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid var(--main-color-darker);
    width: 60%;
    padding: 1.6rem 3.2rem;
    border-radius: 1.1rem;
    background-color: #fff;
    transition: all 0.3s;
    font-weight: 600;
    
}

.buttonOutline:hover, .buttonOutline:active {
    background-color: var(--gray-1);
}


.footer {
    border-top: 1px solid var(--gray-6);

    .container {
        padding: 0 3.2rem;
    }
}

.copyright {
    margin: 4.8rem 0;
    font-size: 1.8rem;
    font-weight: 300;
}

@media (max-width: 46.5rem) {
    .features {
        grid-template-columns: 1fr 1fr;
    }

    .grid2cols {
        grid-template-columns: 1fr;
    }

    .briefLeft {
        margin-bottom: 6rem;
    }

    .flexed {
        flex-direction: column;
    }
    .testimonials {
        flex-wrap: wrap;
    }
}

@media (max-width: 41rem) {
    .sectionStats .container {
        flex-direction: column;
    }
    
    .logo:last-child {
        display: none;
    }

    .navbar__link {
        display: none;
    }

    .navbar__link:last-child {
        display: block;
    }
}

@media (max-width: 28rem) {
    .FaqGrid {
        grid-template-columns: 1fr;
        row-gap: 6rem;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .sectionPersonalizations__containerForBoxes {
        grid-template-columns: 1fr;
    }

    .logo:first-child {
        display: none;
    }

    .sectionCta .container {
        flex-direction: column;
    }
}

@media (max-width: 18.75rem) {
    .navbar {
        flex-direction: column;
    }

    .logo:nth-child(2) {
        display: none;
    }
}

@import "about.module.scss";