@media (max-width: 52rem) {
    html {
        font-size: 56.25%
    }
}


@media (max-width: 41rem) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 28rem) {
    html {
        font-size: 43.75%;
    }
}

@media (max-width: 18.75rem) {
    html {
        font-size: 37.5%;
    }
}